main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    width: 25%;
}
table, td, th {
    border: 1px solid;
}


table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.ths {
    height: 100px;
    font-weight: bold;
    background-color: #1c87c9;
    color: white;
    border-color: #1c87c9;
}

.tds {
    text-align: center;
    vertical-align: center;
    height: 30px;
}